@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&family=Hind+Siliguri&family=Inder&family=Oswald&family=Poppins&display=swap');

/*
font-family: 'Arima Madurai', cursive;
font-family: 'Inder', sans-serif;
font-family: 'Poppins', sans-serif;
*/
:root {
    --primary-gold: #F2BB10;
    --primary-red: #b10a03;
}
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(bg.png);
    background-attachment: fixed;
    background-position-x: center;
    background-size: cover;
    overflow-x: hidden;
    padding-top: 300px;
    background-attachment: fixed;
}


.sec1 {
    background: rgba(255, 250, 199, 0.858);
    font-family: 'Hind Siliguri', sans-serif;
    width: calc(100% - 40px);
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 12px;
    position: relative;
    z-index: 12;
    overflow: hidden;
}
.sec1 .ques {
    padding: 10px;
    font-size: 130%;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.535);
    background: var(--primary-gold);
}
.sec1 .ans {
    padding: 10px;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    border-bottom: 1px solid rgba(0, 0, 0, 0.535);
}
.sec1 .foot {
    padding: 10px;
    text-align: center;
}

.sites {
    background: rgba(255, 250, 199, 0.858);
    font-family: 'Hind Siliguri', sans-serif;
    width: calc(100% - 40px);
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 12px;
    margin-top: 30px;
    border: 2px solid var(--primary-gold);
    position: relative;
    z-index: 12;
    overflow: hidden;
}
.sites .head {
    background: var(--primary-gold);
    padding: 10px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}
.sites .site_links {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.sites .site_links a {
    height: 158px;
    width: 158px;
    display: flex;
    border: 3px solid transparent;
    border-radius: 20px;
    -webkit-tap-highlight-color: transparent;
}
.sites .site_links a:hover {
    border: 3px solid var(--primary-red);
}
.sites .site_links a img {
    width: 90%;
    height: 90%;
    margin: auto auto;
    border-radius: 12px;
}