@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&family=Hind+Siliguri&family=Inder&family=Oswald&family=Poppins&display=swap');

/*
font-family: 'Arima Madurai', cursive;
font-family: 'Inder', sans-serif;
font-family: 'Poppins', sans-serif;
*/
:root {
    --primary-gold: #F2BB10;
    --primary-red: #b10a03;
}
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(bg.png);
    background-attachment: fixed;
    background-position-x: center;
    background-size: cover;
    overflow-x: hidden;
    padding-top: 300px;
}


.sec1 {
    background: rgba(255, 250, 199, 0.858);
    font-family: 'Hind Siliguri', sans-serif;
    width: calc(100% - 40px);
    margin: 0 auto;
    border-radius: 12px;
    position: relative;
    z-index: 12;
}
.sec1 .ques {
    padding: 10px;
    font-size: 130%;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.535);
}
.sec1 .ans {
    padding: 10px;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    border-bottom: 1px solid rgba(0, 0, 0, 0.535);
}
.sec1 .foot {
    padding: 10px;
    text-align: center;
}
